@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* overflow: hidden; */
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}
body{
   
    background: #E5E5E5;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background: #000;
    color: white;
    height: 60px;
    align-items: center;
    
}


.navbar .fa-brands .fa-solid{
    font-size: 70px;
}
.navbar .fa-brands {
    margin-left: 30px;
    margin-top: 5px;
    
}
.navbar .fa-solid{
    margin-right: 20px;
    margin-top: 5px;
}



header{
    width: 100%;
    background:rgb(73, 240, 2);
}
.header-part{
     margin-left: 500px;
    /* text-align: center; */
    margin-top: 100px;
    padding-bottom: 100px;
    
}
.header-part h2{
    color: black;
    font-size: 60px;
    text-transform: uppercase;
    
  
    
}
.header-part p{
    margin-left: 90px;
    margin-top: 20px;
    font-size: 17px;
    
   
}
.header-part .header-world{
    padding:10px 10px;
    background: #000;
    color: white;
    border-radius: 3px;
}

/* container */
.container{
   width: 100%;
   height: 1040px;
    /* position: relative; */
    background-image: url("images/header-img/background\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.container .container-blog{
    margin-left: 310px;
    padding-top: 200px;
    
}

.container h2{
    font-size: 40px;
    font-weight: bolder;
    color: white;
    
}
.container h1{
    font-size: 60px;
    font-weight: bolder;
    color:rgb(50, 245, 6);
    text-transform: uppercase;
}

.container button {
    font-size: 20px;
    padding: 10px 10px;
    background-color:black;
    color: aliceblue;
    border-style: none;
    margin-top: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

/* Main Area */

main{
    width: 1100px;
    background:white;
    box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.15);
    margin: auto;
    padding: 30px;
    margin-bottom: 20px;
}

.main .main-hadding{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;

}

.main .main-img img{
    width: 1020px;
    margin-left: 50px;
}
.main .main-text{
    width: 1030px;
    margin-left: 50px;
    padding: 30px 0;
    color: grey;

}
.main .main-text span{
    font-size: 20px;
    font-weight: bolder;
    color: black;
}

.main .main-icon {
    display: flex;
    justify-content: space-between;
   
}
.main .main-icon a{
    padding: 10px 10px;
    border: 1px solid gray;
    color: black;
    background:rgb(108, 231, 7);
    margin-left: 50px;
    margin-right: 40px;
    border-radius: 5px;
}
.main .main-icon .fa-regular{
    margin-right: 5px;
}
.main .main-reviews{
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;

}

.main .main-reviews img{
    width: 105px;
    height: 110px;
    margin-right: 30px;
}
.main .main-reviews p{
    font-size:15px ;
    color: grey;
}
.main .main-reviews span{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 25px;
    color: black;
}

/* Footer Part */

footer{
    background: grey;
    height: 250px;
}
.footer-part button {
    margin-top: 50px;
    padding: 10px 20px;
    border: 1px solid black;
    background: #000;
    margin-left: 50px;
    
}
.footer-part a{
    color: white;
    font-size: 18px;

}

.footer-part p{
    margin-top: 20px;
    font-size: 15px;
    color: black;
    margin-left: 50px;
}
.footer-part span{
    font-size: 20px;
    font-weight: bolder;
    color: white;
}